on:
  release:
    types: [created]

jobs:
  apiary:
    name: apiary ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          - macos-14
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      - id: build
        run: |

          set -x
          if uname -m | grep -q x86_64 && uname -s | grep Darwin
          then
            export TARGET=x86_64-apple-darwin
          fi

          if uname -m | grep -q arm64 && uname -s | grep Darwin
          then
            export TARGET=aarch64-apple-darwin
          fi
          set +x

          uname -a
          echo "Rust target is $TARGET"
          echo "target=$TARGET" >> $GITHUB_OUTPUT

      - run: rustup toolchain install stable --profile minimal

      - run: rustup target add ${{ steps.build.outputs.target }}

      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1

      - name: Compile and release
        id: compile
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUSTTARGET: ${{ steps.build.outputs.target }}
        run: |
          cargo build --release --target "${RUSTTARGET}"

      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: apiary ${{ steps.build.outputs.target }}
          path: |
            target/${{ steps.build.outputs.target }}/release/apiary
